# Node
node_modules/
dist/

# Env files
.env
.env.*        # por si usás .env.local o .env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Test coverage
coverage/

# Build artifacts
*.tgz

# Misc
*.tmp
